/* variáveis do css */
:root {
    --body-bg-image: url('../img/background-sky-garden.png');
}

* {
    margin: 0;
    padding: 0;
    font-family: "VT-100", fixedsys, System, monospace;
    overflow: hidden;
    user-select: none;
    color: white;
}

body {
    background: var(--body-bg-image) no-repeat center fixed;
    background-size: contain;
    background-size: 100% 100%;
}

.configs {
    padding: 10px;
}

.config {
    filter: invert(1);
    width: 32px;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 20px 0;
}

.score-container {
    font-size: 2rem;
    font-weight: bold;
    text-shadow: 0 0 10px #000;
    width: 100%;
    text-align: center;
    color: #fff;
}

.madotsuki-container {
    height: 320px;
}

#madotsuki {
    width: 256px;
    cursor: pointer;
}