/* variáveis do css */
:root {
    --body-bg-image: url("../img/background-sky-garden.png");
    --effects-menu-bg-image: url("../img/menu-border.png");
}

* {
    margin: 0;
    padding: 0;
    font-family: "VT-100", fixedsys, System, monospace;
    user-select: none;
    color: white;
}

body {
    background: var(--body-bg-image) no-repeat center fixed;
    background-size: contain;
    background-size: 100% 100%;
}

.configs {
    padding: 10px;
}

.config {
    filter: invert(1);
    width: 32px;
}

.wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.score-container {
    font-size: 2rem;
    font-weight: bold;
    text-shadow: 0 0 10px #000;
    width: 100%;
    text-align: center;
    color: #fff;
}

.cps-value {
    font-size: 1rem;
}

.madotsuki-container {
    height: 320px;
}

#madotsuki {
    width: 256px;
    cursor: pointer;
}

.efeitos {
    background: var(--effects-menu-bg-image);
    background-size: contain;
    background-size: 100% 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.efeito {
    padding: 20px 20px;
}

.efeito img {
    cursor: pointer;
}

.efeito button {
    background-color: #5c043482; 
    border: none;
    color: white;
    padding: 2px 4px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
}